In [81]:
import sqlite3
from datetime import datetime

In [82]:
conn=sqlite3.connect('../db.sqlite3')
cursor=conn.cursor()

### 目前縣市

In [83]:
list(cursor.execute('select * from user_city'))

[(1, '基隆市', '2022-01-26'),
 (2, '台北市', '2022-01-26'),
 (3, '新北市', '2022-01-26'),
 (4, '桃園縣', '2022-01-26'),
 (5, '新竹市', '2022-01-26'),
 (6, '新竹縣', '2022-01-26'),
 (7, '苗栗縣', '2022-01-26'),
 (8, '台中市', '2022-01-26'),
 (9, '彰化縣', '2022-01-26'),
 (10, '南投縣', '2022-01-26'),
 (11, '雲林縣', '2022-01-26'),
 (12, '嘉義市', '2022-01-26'),
 (13, '嘉義縣', '2022-01-26'),
 (14, '台南市', '2022-01-26'),
 (15, '高雄市', '2022-01-26'),
 (16, '屏東縣', '2022-01-26'),
 (17, '台東縣', '2022-01-26'),
 (18, '花蓮縣', '2022-01-26'),
 (19, '宜蘭縣', '2022-01-26'),
 (20, '澎湖縣', '2022-01-26'),
 (21, '金門縣', '2022-01-26'),
 (22, '連江縣', '2022-01-26')]

### 取得今天日期

In [84]:
today=datetime.now().strftime("%Y-%m-%d")
today

'2022-01-26'

### 執行寫入動作

In [85]:
citys=[(1, '基隆市'),
 (2, '台北市'),
 (3, '新北市'),
 (4, '桃園縣'),
 (5, '新竹市'),
 (6, '新竹縣'),
 (7, '苗栗縣'),
 (8, '台中市'),
 (9, '彰化縣'),
 (10, '南投縣'),
 (11, '雲林縣'),
 (12, '嘉義市'),
 (13, '嘉義縣'),
 (14, '台南市'),
 (15, '高雄市'),
 (16, '屏東縣'),
 (17, '台東縣'),
 (18, '花蓮縣'),
 (19, '宜蘭縣'),
 (20, '澎湖縣'),
 (21, '金門縣'),
 (22, '連江縣')]

In [87]:
try:
    for city in citys:
        cursor.execute(f'insert into user_city (id,name,createdon) values({city[0]},"{city[1]}","{today}")')
        conn.commit()
except:
    pass

In [ ]:
conn.close()

### 寫入身分

In [94]:
conn=sqlite3.connect('../db.sqlite3')
cursor=conn.cursor()

In [ ]:
respondents=['公司行號', '工作室', '學生身分', '上班族兼職']
respondents

['公司行號', '工作室', '學生身分', '上班族兼職']

In [88]:
try:
    for respondent in respondents:
        cursor.execute(f'insert into user_respondent (name,createdon) values("{respondent}","{today}")')
        conn.commit()
except:
    pass

In [ ]:
conn.close()

### 寫入分類

In [ ]:
categorys=['程式開發',
 '平面設計',
 '網頁設計',
 '翻譯寫作',
 '商攝娛樂',
 '影像製作',
 '空間設計',
 '生活服務',
 '活動企劃',
 '專業顧問',
 '資訊工程']

In [ ]:
conn=sqlite3.connect('../db.sqlite3')
cursor=conn.cursor()

In [89]:
try:
    for i,category in enumerate(categorys):
        cursor.execute(f'insert into case_category (id,name,createdon) values({i+1},"{category}","{today}")')
        conn.commit()
except:
    pass

### 寫入金額

In [ ]:
amounts=['3000','5000','10000~30000','50000','10萬','30萬','50萬~100萬','100萬以上','面議']

In [90]:
try:
    for i,amount in enumerate(amounts):
        cursor.execute(f'insert into case_amount (id,name,createdon) values({i+1},"{amount}","{today}")')
        conn.commit()
except:
    pass

### 寫入mode

In [ ]:

modes=['到場配合','遠端合作','面談']

In [91]:
try:
    for i,mode in enumerate(modes):
        cursor.execute(f'insert into case_mode (id,name,createdon) values({i+1},"{mode}","{today}")')
        conn.commit()
except:
    pass

### 寫入states

In [ ]:
states=['新進案','發案中','製作中','已結案']

In [ ]:
for i,state in enumerate(states):
    cursor.execute(f'insert into case_state (id,name,createdon) values({i+1},"{state}","{today}")')
    conn.commit()

### 寫入periods

In [ ]:
periods=['3天內','一個禮拜','二~四個禮拜','一個月內','三個月','半年','一年以上','面議']

In [92]:
try:
    for i,period in enumerate(periods):
        cursor.execute(f'insert into case_period (id,name,createdon) values({i+1},"{period}","{today}")')
        conn.commit()
except:
    pass

In [93]:
conn.close()

In [95]:
list(cursor.execute('select * from user_profile'))

[(1,
  'pbkdf2_sha256$260000$etVcboDa7os9V4hKNXEBPi$NBupeXrE6Fe/D2+tJz4evSW/aqSI/wR8UlAbJgC30wc=',
  '2022-01-26 04:32:22.145660',
  1,
  'jerry',
  '',
  '',
  '17app001@gmail.com',
  1,
  1,
  '2022-01-24 13:53:28.613813',
  0,
  0,
  None,
  None)]