In [54]:
import sqlite3
from datetime import datetime

In [55]:
conn=sqlite3.connect('../db.sqlite3')
cursor=conn.cursor()

### 目前縣市

In [56]:
list(cursor.execute('select * from user_city'))

[(1, '基隆市', '2022-02-07'),
 (2, '台北市', '2022-02-07'),
 (3, '新北市', '2022-02-07'),
 (4, '桃園縣', '2022-02-07'),
 (5, '新竹市', '2022-02-07'),
 (6, '新竹縣', '2022-02-07'),
 (7, '苗栗縣', '2022-02-07'),
 (8, '台中市', '2022-02-07'),
 (9, '彰化縣', '2022-02-07'),
 (10, '南投縣', '2022-02-07'),
 (11, '雲林縣', '2022-02-07'),
 (12, '嘉義市', '2022-02-07'),
 (13, '嘉義縣', '2022-02-07'),
 (14, '台南市', '2022-02-07'),
 (15, '高雄市', '2022-02-07'),
 (16, '屏東縣', '2022-02-07'),
 (17, '台東縣', '2022-02-07'),
 (18, '花蓮縣', '2022-02-07'),
 (19, '宜蘭縣', '2022-02-07'),
 (20, '澎湖縣', '2022-02-07'),
 (21, '金門縣', '2022-02-07'),
 (22, '連江縣', '2022-02-07')]

### 取得今天日期

In [57]:
today=datetime.now().strftime("%Y-%m-%d")
today

'2022-02-07'

### 執行寫入動作

In [58]:
citys=[(1, '基隆市'),
 (2, '台北市'),
 (3, '新北市'),
 (4, '桃園縣'),
 (5, '新竹市'),
 (6, '新竹縣'),
 (7, '苗栗縣'),
 (8, '台中市'),
 (9, '彰化縣'),
 (10, '南投縣'),
 (11, '雲林縣'),
 (12, '嘉義市'),
 (13, '嘉義縣'),
 (14, '台南市'),
 (15, '高雄市'),
 (16, '屏東縣'),
 (17, '台東縣'),
 (18, '花蓮縣'),
 (19, '宜蘭縣'),
 (20, '澎湖縣'),
 (21, '金門縣'),
 (22, '連江縣')]

In [59]:
try:
    for city in citys:
        cursor.execute(f'insert into user_city (id,name,createdon) values({city[0]},"{city[1]}","{today}")')
        conn.commit()
except:
    pass

In [60]:
conn.close()

### 寫入身分

In [61]:
conn=sqlite3.connect('../db.sqlite3')
cursor=conn.cursor()

In [62]:
respondents=['公司行號', '工作室', '學生身分', '上班族兼職']
respondents

['公司行號', '工作室', '學生身分', '上班族兼職']

In [63]:
try:
    for respondent in respondents:
        cursor.execute(f'insert into user_respondent (name,createdon) values("{respondent}","{today}")')
        conn.commit()
except:
    pass

In [64]:
conn.close()

### 寫入分類

In [65]:
categorys=['程式開發',
 '平面設計',
 '網頁設計',
 '翻譯寫作',
 '商攝娛樂',
 '影像製作',
 '空間設計',
 '生活服務',
 '活動企劃',
 '專業顧問',
 '資訊工程']

In [66]:
conn=sqlite3.connect('../db.sqlite3')
cursor=conn.cursor()

In [67]:
try:
    for i,category in enumerate(categorys):
        cursor.execute(f'insert into case_category (id,name,createdon) values({i+1},"{category}","{today}")')
        conn.commit()
except:
    pass

### 寫入金額

In [68]:
amounts=['3000','5000','10000~30000','50000','10萬','30萬','50萬~100萬','100萬以上','面議']

In [69]:
try:
    for i,amount in enumerate(amounts):
        cursor.execute(f'insert into case_amount (id,name,createdon) values({i+1},"{amount}","{today}")')
        conn.commit()
except:
    pass

### 寫入mode

In [70]:

modes=['到場配合','遠端合作','面談']

In [71]:
try:
    for i,mode in enumerate(modes):
        cursor.execute(f'insert into case_mode (id,name,createdon) values({i+1},"{mode}","{today}")')
        conn.commit()
except:
    pass

### 寫入states

In [72]:
states=['新進案','發案中','製作中','已結案']

In [73]:
try:
    for i,state in enumerate(states):
        cursor.execute(f'insert into case_state (id,name,createdon) values({i+1},"{state}","{today}")')
        conn.commit()
except:
    pass

### 寫入periods

In [74]:
periods=['3天內','一個禮拜','二~四個禮拜','一個月內','三個月','半年','一年以上','面議']

In [75]:
try:
    for i,period in enumerate(periods):
        cursor.execute(f'insert into case_period (id,name,createdon) values({i+1},"{period}","{today}")')
        conn.commit()
except:
    pass

In [76]:
users=list(cursor.execute('select * from user_profile'))
users

[(1,
  'pbkdf2_sha256$260000$GGVgkIYC61Km5QhIm8SEj5$3+xTB3IH1/Cs/ytTR/gpQSiuKZ9Obrxhn/4m1ht3/NQ=',
  '2022-02-06 16:46:00',
  1,
  'jerry',
  '',
  '',
  1,
  1,
  '2022-02-06 16:45:00',
  'iiiplay001@gmail.com',
  0,
  0,
  15,
  3),
 (2,
  'marymarymary',
  None,
  0,
  'mary',
  '',
  '',
  0,
  1,
  '2022-02-06 16:50:00',
  '17app001@gmail.com',
  0,
  0,
  5,
  3),
 (3,
  'kevinkevinkevin',
  None,
  0,
  'kevin',
  '',
  '',
  0,
  1,
  '2022-02-06 16:50:00',
  '17app002@gmail.com',
  0,
  0,
  3,
  2),
 (4,
  'jackjackjack',
  None,
  0,
  'jack',
  '',
  '',
  0,
  1,
  '2022-02-06 16:51:00',
  'codewithjerry1@gmail.com',
  0,
  0,
  15,
  4),
 (5,
  'michaelmichaelmichael',
  None,
  0,
  'michael',
  '',
  '',
  0,
  1,
  '2022-02-06 16:51:00',
  'mdream.studio@gmail.com',
  0,
  0,
  3,
  2)]

### 取得user id

In [77]:
user_ids=[user[0] for user in users]
user_ids

[1, 2, 3, 4, 5]

In [78]:
import pandas as pd

### 讀取資料

In [79]:
df=pd.read_csv('./程式開發.csv',index_col=0)

df

,link,title,price,city,detail
0,https://www.tasker.com.tw/case/detail/3mY8n,NodeMCU&QR CODE模組門禁鎖,"5,001~1萬",台中市,1.案件說明：NodeMCU 連接QRCODE 模組（Bar Code&QR Code)使用...
1,https://www.tasker.com.tw/case/detail/J9aZK,系統工程師,1萬~5萬,不限,1.案件說明：徵求系統工程師，需能在IOS、Android系統應用，協助日後維護管理\r\n...
2,https://www.tasker.com.tw/case/detail/54Yz5,SNS APP開發,10萬~30萬,不限,1.案件說明：獨立開發SNS APP，協助上線在IOS、Android系統應用，長期配合協助...
3,https://www.tasker.com.tw/case/detail/qbLMX,安卓音訊處理APP,1萬~5萬,不限,1.案件說明：協助安卓音訊處理APP，詳細參考附件\r\n2.注意事項：具備相關能力或實務經...
4,https://www.tasker.com.tw/case/detail/b1qeB,Access 資料庫,"$3,000",不限,1.案件說明：協助基本Access 資料庫檔案一件，已完成部份\r\n2.注意事項：需要12...
...,...,...,...,...,...
593,https://www.tasker.com.tw/case/detail/r4YPp,testflight上架,"5,001~1萬",不限,1.案件說明：我有多個IOS APP應用要上testflight外測，要能穩定長期不封號\r...
594,https://www.tasker.com.tw/case/detail/Y92OZ,藍芽MCU開發,1萬~5萬,不限,1.案件說明：協助藍芽ＭＣＵ開發（新唐）設計， PCB電路layout，（本部地區）合適採取...
595,https://www.tasker.com.tw/case/detail/Y927K,EXCEL VBA 撰寫,"$1,500",不限,1.案件說明：我想要請人代寫一本書 [看財報不抓狂] 中的EXCEL VBA 內容，書中都有...
596,https://www.tasker.com.tw/case/detail/63rmb,outlook excel,5千以下,台北市,1.案件說明：協助對方回覆之OUTLOOK信件內容中擷取特定內容至Excel指定欄位中\r\...
597,https://www.tasker.com.tw/case/detail/mJvrX,票券系統功能新增與維護,1萬~5萬,不限,1.案件說明：開發與維護平台，包含會員、票券系統\r\n2.配合時間：長期\r\n3.配合地...

In [80]:
len(df)

598

In [81]:
cases=list(cursor.execute('select * from case_case'))
cases

[]

### 取得最後編號

In [82]:
no= cases[-1][0] if len(cases) > 0 else 1
no

1

In [83]:
sql_str='insert into case_case values({},"{}","{}","{}","{}","{}",\
    {},{},{},{},{},{},"{}"'
sql_str

'insert into case_case values({},"{}","{}","{}","{}","{}",    {},{},{},{},{},{},"{}"'

In [84]:
data=df.values.tolist()[0]
data

['https://www.tasker.com.tw/case/detail/3mY8n',
 'NodeMCU&QR CODE模組門禁鎖',
 '5,001~1萬',
 '台中市',
 '1.案件說明：NodeMCU 連接QRCODE 模組（Bar Code&QR Code)使用Arduino IDE撰寫，把模組掃到條碼資料顯示在Arduino IDE的監控視窗。\r\n2.注意事項：具備相關能力或實務經驗，其他細節詳談']

In [85]:
import random

In [86]:
random.randint(1,len(amounts))

6

In [87]:
sql_str.format(no+1,data[1],data[4],'0987578587','',datetime.now().strftime("%Y-%m-%d %H:%M:%S"),
0,random.randint(1,len(amounts)),random.randint(1,len(categorys)),random.choice(user_ids),
random.randint(1,len(periods)),random.randint(1,len(states)),datetime.now().strftime("%Y-%m-%d %H:%M:%S"))

'insert into case_case values(2,"NodeMCU&QR CODE模組門禁鎖","1.案件說明：NodeMCU 連接QRCODE 模組（Bar Code&QR Code)使用Arduino IDE撰寫，把模組掃到條碼資料顯示在Arduino IDE的監控視窗。\r\n2.注意事項：具備相關能力或實務經驗，其他細節詳談","0987578587","","2022-02-07 18:55:59",    0,4,3,2,4,4,"2022-02-07 18:55:59"'

In [88]:
random.choice(user_ids)

5

In [89]:
cursor.execute('delete from case_case')
conn.commit()

### 寫入資料

In [90]:
no= cases[-1][0] if len(cases) > 0 else 0

for i,data in enumerate(df.values.tolist()):              
        try:   
                no+=1
                sql_str='insert into case_case values({},"{}","{}","{}","{}","{}",\
                "{}",{},{},{},{},{},{});'
                sql_str=sql_str.format(no,data[1],data[4],'0987578587','',datetime.now().strftime("%Y-%m-%d %H:%M:%S"),datetime.now().strftime("%Y-%m-%d %H:%M:%S"),
                        0,random.randint(1,len(amounts)),random.randint(1,len(categorys)),random.choice(user_ids),
                        random.randint(1,len(periods)),random.randint(1,len(states)))

                #print(sql_str)
                
                cursor.execute(sql_str)

        except Exception as e:
                print(e,i)

conn.commit()

near "有可能": syntax error 35
near "智能手錶": syntax error 89
near "台灣加權指數": syntax error 148
near "功能達成": syntax error 251
near "已交貨付款": syntax error 348
near "貸款利潤": syntax error 370
near "對造": syntax error 415
near "正在偵測過高滑點": syntax error 445